/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

/* Tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font styles */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Global variables */
:root {
  --main-green: #93dcb6;
  /* --alt-green: #84ddaa;
  --main-pink: #d53e78;
  --alt-pink: #dd5490; */
}

/* Global */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-green);
  padding: 2.5rem;
}

/* Page components */

.scoops-2-left {
  left: 46%;
}

.scoops-2-right {
  right: 46%;
}

.scoops-3 {
  right: 43.5%;
}

.scoops-3-top-tub {
  top: -64px;
}

.right-chip-1 {
  right: 45%;
}

.right-chip-2 {
  right: 43%;
}

.right-chip-3 {
  right: 40%;
}

.left-chip-1 {
  left: 46%;
}

.left-chip-2 {
  left: 44%;
}

.left-chip-3 {
  left: 40%;
}

.center-chip {
  left: 49%;
}

.sauce {
  --s: 12px;
  --b: 6px;
  --m: 0.4;

  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  width: calc(2 * var(--R));
  min-height: 80px;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at top 50% right calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - var(--s) / 2 - var(--b) / 2) calc(50% - 2 * var(--s)) /
      calc(var(--s) + var(--b)) calc(4 * var(--s)) repeat-y,
    radial-gradient(
        var(--R) at top 50% left calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% + var(--s) / 2 + var(--b) / 2) 50% / calc(var(--s) + var(--b))
      calc(4 * var(--s)) repeat-y;
}

.mini-length-sauce {
  min-height: 50px;
}
